/*General*/
body {
    margin: 0;
}

/*Logo*/
#logo {
    background-color: rgb(85, 210, 219);
    width: 150px;
    height: 125px;
    margin-left: 10px;
}

nav {
    background-color: rgb(85, 210, 219);
}

/*Title*/
h1 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 29px;
}
h4, h6 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}
#the-booleaner {
    color: blue;
}

/*Photos*/
img {
    margin-top: 20px;  
}
figcaption {
    font-size: 13px;
}

/*Paragraph*/
ul {
    padding: 16px;
}
p {
    margin-top: 25px;
}

/*Table*/
table {
    width: 100%;
    height: 100px;
}
th {
    text-align: left;
    color: white;
    background-color: rgb(26, 156, 196);
}
.first-column, .second-column {
    width: 25%;
}
.first-line, .third-line {
    background-color: rgb(180, 198, 214);
}

