/*General*/
body {
    margin: 0;
}
main {
    margin: 0 150px 0 150px;
}

/*Logo*/
#logo {
    width: 150px;
    margin: 0 0 0 150px;
    padding: 28px 0 28px 0;
}

nav {
    background-color: rgb(85, 210, 219);
    height: 96px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 350px 200px;
}

/*Title*/
h1 {
    margin: 40px 0 0;
    font-size: 29px;
}
h4, h6 {
    font-weight: lighter;
    margin: 0;
}
#the-booleaner {
    color: blue;
}

/*Photos*/
figure {
    margin: 20px 0 0;  
}
figcaption {
    font-size: 13px;
}

/*Paragraph*/
ul {
    padding: 16px;
}
#paragraph {
    margin: 25px 0 0;
}

/*Table*/
table {
    width: 100%;
    height: 100px;
}
th {
    text-align: left;
    color: white;
    background-color: rgb(26, 156, 196);
}
.first-column, .second-column {
    width: 25%;
}
.first-line, .third-line {
    background-color: rgb(180, 198, 214);
}

/*Footer*/
#copyright {
    text-align: center;
    color: white;
    font-size: 13px;
    padding: 10px 0;
    margin: 40px 0 0;
    background-color: rgb(54, 54, 94);
}

